In [ ]:
!pip install yfinance
import yfinance as yf
from datetime import datetime
import pandas as pd
import numpy as np
import statsmodels.api as sm

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Requirement already satisfied: yfinance in /usr/local/lib/python3.8/dist-packages (0.1.90)
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.8/dist-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.8/dist-packages (from yfinance) (4.9.1)
Requirement already satisfied: requests>=2.26 in /usr/local/lib/python3.8/dist-packages (from yfinance) (2.28.1)
Requirement already satisfied: appdirs>=1.4.4 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.4.4)
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.8/dist-packages (from yfinance) (1.21.6)
Requirement already satisfied: pytz>=2017.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2022.6)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.8/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.8/dist-packages (from python-dateutil>=2.7.3->pandas>=1.3.0->yfinance) (1.15.0)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: charset-normalizer<3,>=2 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2.1.1)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (2022.9.24)
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.8/dist-packages (from requests>=2.26->yfinance) (1.24.3)

In [ ]:
# Tickers list
# We can add and delete any ticker from the list to get desired ticker live data
ticker =['AAPL', 'AMZN', 'BA', 'BAC', 'BLK', 'LUV', 'COST', 
             'DIS' , 'GOOG', 'GOOS', 'JPM', 'KO', 'LMT', 'MA', 'META' ,
             'MSFT', 'NKE', 'PSX', 'SBUX', 'TSLA']


# We can get data by our choice by giving days bracket
start_date = datetime(2020,1,3)
end_date = datetime(2022,10,23)

data = yf.download(ticker, start=start_date, end=end_date)
df = pd.DataFrame(data) 
df.tail()

[*********************100%***********************]  20 of 20 completed

             Adj Close                                                 \
                  AAPL        AMZN          BA        BAC         BLK
Date
2022-10-17  142.174164  113.790001  136.089996  33.424587  565.352539
2022-10-18  143.511932  116.360001  137.339996  34.677265  577.081726
2022-10-19  143.621750  115.070000  138.389999  33.722843  573.943359
2022-10-20  143.152527  115.250000  139.130005  33.504124  568.441284
2022-10-21  147.026108  119.320000  141.320007  34.746857  593.170776

                                                                       ...  \
                  COST         DIS        GOOG       GOOS         JPM  ...
Date                                                                   ...
2022-10-17  463.333588   97.330002  100.779999  17.440001  115.860001  ...
2022-10-18  472.417175   98.480003  101.389999  17.590000  118.839996  ...
2022-10-19  470.580505   98.989998  100.290001  17.370001  116.510002  ...
2022-10-20  463.782776   98.589996  100.529999  17.490000  116.129997  ...
2022-10-21  477.318329  102.040001  101.480003  17.889999  122.230003  ...

              Volume                                                           \
                  KO      LMT      LUV       MA      META      MSFT       NKE
Date
2022-10-17  13721400  1617200  4665700  3417600  29612200  28142300   8451900
2022-10-18  11823100  4588500  4766200  3096000  25445000  26329600   7364700
2022-10-19  10182300  2623700  8804100  1914300  30691000  19985700   5102000
2022-10-20  16905100  1781300  4843600  2463800  26356300  21811000  13500000
2022-10-21  15034100  1620200  5450600  3599600  46348600  26299700   7976300


                PSX     SBUX       TSLA
Date
2022-10-17  3667600  6255300   79428800
2022-10-18  2756500  5484400   75891900
2022-10-19  3343500  6473400   66571500
2022-10-20  3033400  4540700  117798100
2022-10-21  3260100  9088800   75713800

[5 rows x 120 columns]

In [ ]:
TSLA = df.iloc[:,19]
TSLA

Date
2020-01-03     29.534000
2020-01-06     30.102667
2020-01-07     31.270666
2020-01-08     32.809334
2020-01-09     32.089333
                 ...
2022-10-17    219.350006
2022-10-18    220.190002
2022-10-19    222.039993
2022-10-20    207.279999
2022-10-21    214.440002
Name: (Adj Close, TSLA), Length: 707, dtype: float64

In [ ]:
Merged = df.iloc[:,0:20]
Merged

             Adj Close                                                 \
                  AAPL        AMZN          BA        BAC         BLK
Date
2020-01-03   72.846367   93.748497  330.791901  32.587730  468.178955
2020-01-06   73.426826   95.143997  331.766083  32.541042  468.578766
2020-01-07   73.081497   95.343002  335.285156  32.326283  471.572449
2020-01-08   74.257111   94.598503  329.410095  32.653095  471.460876
2020-01-09   75.834396   95.052498  334.350708  32.709114  477.039154
...                ...         ...         ...        ...         ...
2022-10-17  142.174164  113.790001  136.089996  33.424587  565.352539
2022-10-18  143.511932  116.360001  137.339996  34.677265  577.081726
2022-10-19  143.621750  115.070000  138.389999  33.722843  573.943359
2022-10-20  143.152527  115.250000  139.130005  33.504124  568.441284
2022-10-21  147.026108  119.320000  141.320007  34.746857  593.170776

                                                                       \
                  COST         DIS        GOOG       GOOS         JPM
Date
2020-01-03  277.895630  146.500000   68.032997  35.919998  127.048042
2020-01-06  277.971863  145.649994   69.710503  35.669998  126.947021
2020-01-07  277.533661  145.699997   69.667000  36.040001  124.788849
2020-01-08  280.715302  145.399994   70.216003  34.950001  125.762337
2020-01-09  285.220947  144.830002   70.991501  33.340000  126.221527
...                ...         ...         ...        ...         ...
2022-10-17  463.333588   97.330002  100.779999  17.440001  115.860001
2022-10-18  472.417175   98.480003  101.389999  17.590000  118.839996
2022-10-19  470.580505   98.989998  100.290001  17.370001  116.510002
2022-10-20  463.782776   98.589996  100.529999  17.490000  116.129997
2022-10-21  477.318329  102.040001  101.480003  17.889999  122.230003

                                                                      \
                   KO         LMT        LUV          MA        META
Date
2020-01-03  49.791145  381.511841  54.141628  295.628174  208.669998
2020-01-06  49.772930  380.930939  53.922474  296.415466  212.600006
2020-01-07  49.390556  382.212708  54.081860  295.411743  213.059998
2020-01-08  49.481598  379.013031  54.161549  300.624146  215.220001
2020-01-09  50.382919  382.609192  54.091820  304.565491  218.300003
...               ...         ...        ...         ...         ...
2022-10-17  55.297817  394.847839  32.720001  295.040009  134.039993
2022-10-18  56.042534  429.163849  33.310001  300.380005  132.800003
2022-10-19  55.565914  437.233521  33.119999  297.760010  133.229996
2022-10-20  54.692116  441.586365  32.810001  296.279999  131.529999
2022-10-21  55.565914  451.792725  33.099998  302.369995  130.009995


                  MSFT        NKE        PSX       SBUX        TSLA
Date
2020-01-03  154.207565  99.139236  94.400063  83.631966   29.534000
2020-01-06  154.606155  99.051697  93.808365  82.972939   30.102667
2020-01-07  153.196518  99.003059  94.095512  82.718742   31.270666
2020-01-08  155.636673  98.779343  90.580200  83.679047   32.809334
2020-01-09  157.581039  98.711250  91.902794  85.232491   32.089333
...                ...        ...        ...        ...         ...
2022-10-17  236.862488  89.694687  94.626625  88.391998  219.350006
2022-10-18  237.829758  89.405579  95.270950  88.451653  220.190002
2022-10-19  235.815430  88.298973  97.094879  87.019882  222.039993
2022-10-20  235.486359  86.564301  96.886719  86.294060  207.279999
2022-10-21  241.439575  88.229187  99.563148  88.103653  214.440002

[707 rows x 20 columns]

In [ ]:
TSLA_return = TSLA.pct_change(periods=20)
TSLA_return = TSLA_return.fillna(0)
TSLA_return

Date
2020-01-03    0.000000
2020-01-06    0.000000
2020-01-07    0.000000
2020-01-08    0.000000
2020-01-09    0.000000
                ...
2022-10-17   -0.290290
2022-10-18   -0.286788
2022-10-19   -0.261835
2022-10-20   -0.281749
2022-10-21   -0.221153
Name: (Adj Close, TSLA), Length: 707, dtype: float64

In [ ]:
Merged_return = Merged.pct_change(periods=20)
Merged_return = Merged_return.fillna(0)
Merged_return.tail()

           Adj Close                                                    \
                AAPL      AMZN        BA       BAC       BLK      COST
Date
2022-10-17 -0.078133 -0.087197 -0.060671 -0.030845 -0.103162 -0.083700
2022-10-18 -0.083811 -0.047713 -0.058928  0.020779 -0.066285 -0.052550
2022-10-19 -0.064143 -0.029273 -0.034196  0.023228 -0.049647 -0.043888
2022-10-20 -0.061215 -0.017560  0.003028  0.036923 -0.046861 -0.046288
2022-10-21 -0.021006  0.048690  0.076642  0.101481  0.009926  0.025257

                                                                        \
                 DIS      GOOG      GOOS       JPM        KO       LMT
Date
2022-10-17 -0.108455 -0.029562 -0.011338 -0.010692 -0.071679 -0.046120
2022-10-18 -0.084503 -0.004321 -0.001136  0.035166 -0.057763  0.026773
2022-10-19 -0.052637  0.002800 -0.016978  0.045003 -0.057913  0.047025
2022-10-20 -0.034945 -0.000398  0.018044  0.053583 -0.070537  0.052739
2022-10-21  0.025528  0.023293  0.079011  0.129958 -0.045051  0.100564

                                                                        \
                 LUV        MA      META      MSFT       NKE       PSX
Date
2022-10-17 -0.088071 -0.058956 -0.094447 -0.028587 -0.160806  0.165141
2022-10-18 -0.050727 -0.039600 -0.090971 -0.016292 -0.124390  0.154891
2022-10-19 -0.029308 -0.020557 -0.062553 -0.010337 -0.112436  0.205242
2022-10-20 -0.005758 -0.005369 -0.079051 -0.020043 -0.118924  0.188039
2022-10-21  0.032761  0.031602 -0.074069  0.017653 -0.087817  0.321753


                SBUX      TSLA
Date
2022-10-17 -0.035164 -0.290290
2022-10-18 -0.020156 -0.286788
2022-10-19 -0.012190 -0.261835
2022-10-20  0.024675 -0.281749
2022-10-21  0.052750 -0.221153

In [ ]:
Merged_return_diff = Merged_return.sub(Merged_return.iloc[:,19], axis=0)

In [ ]:
Merged_return_diff = Merged_return_diff.multiply(-1)

In [ ]:
# Need to split the data into test set and training set
TSLA_return_test = TSLA_return.iloc[-20:,]
TSLA_return_train = TSLA_return.iloc[0:-20,]
Merged_return_test = Merged_return_diff.iloc[-20:,:]
Merged_return_train = Merged_return_diff.iloc[0:-20,:]

In [ ]:
# Generating Min-Var Portfolio via OLS with Training set
from sklearn.linear_model import LinearRegression

y = np.asarray(TSLA_return_train).reshape(-1,1)
X = np.asarray(Merged_return_train).reshape(-1, 20)
reg = LinearRegression().fit(X, y)
R2 = reg.score(X, y)
beta_aal = reg.coef_
print("OLS Model Coefficents:", beta_aal)

OLS Model Coefficents: [[-0.08531751  0.16565352 -0.13349578 -0.26210385 -0.28924179  0.36963755
  -0.02677596 -0.24223441 -0.10100342  0.49622351  0.22487891  0.06061339
   0.12682857 -0.05169804  0.0270564   0.5688617  -0.00880263  0.12730454
   0.12590568  0.        ]]

In [ ]:
model = sm.OLS(y, X).fit()
print(model.summary())

                                 OLS Regression Results
=======================================================================================
Dep. Variable:                      y   R-squared (uncentered):                   0.978
Model:                            OLS   Adj. R-squared (uncentered):              0.977
Method:                 Least Squares   F-statistic:                              1566.
Date:                Fri, 16 Dec 2022   Prob (F-statistic):                        0.00
Time:                        00:23:39   Log-Likelihood:                          1297.7
No. Observations:                 687   AIC:                                     -2557.
Df Residuals:                     668   BIC:                                     -2471.
Df Model:                          19
Covariance Type:            nonrobust
==============================================================================
                 coef    std err          t      P>|t|      [0.025      0.975]
------------------------------------------------------------------------------
x1            -0.1035      0.031     -3.364      0.001      -0.164      -0.043
x2             0.1751      0.033      5.359      0.000       0.111       0.239
x3            -0.1260      0.015     -8.496      0.000      -0.155      -0.097
x4            -0.2728      0.046     -5.969      0.000      -0.363      -0.183
x5            -0.3032      0.038     -8.049      0.000      -0.377      -0.229
x6             0.3627      0.033     10.896      0.000       0.297       0.428
x7            -0.0125      0.028     -0.448      0.654      -0.067       0.042
x8            -0.2545      0.038     -6.666      0.000      -0.329      -0.180
x9            -0.0990      0.014     -6.862      0.000      -0.127      -0.071
x10            0.5189      0.054      9.637      0.000       0.413       0.625
x11            0.2285      0.046      4.987      0.000       0.139       0.318
x12            0.0662      0.030      2.240      0.025       0.008       0.124
x13            0.1157      0.023      4.987      0.000       0.070       0.161
x14           -0.0444      0.036     -1.220      0.223      -0.116       0.027
x15            0.0430      0.020      2.130      0.034       0.003       0.083
x16            0.5747      0.048     11.872      0.000       0.480       0.670
x17           -0.0058      0.029     -0.201      0.841      -0.063       0.051
x18            0.1177      0.018      6.522      0.000       0.082       0.153
x19            0.1186      0.035      3.432      0.001       0.051       0.187
const               0          0        nan        nan           0           0
==============================================================================
Omnibus:                       37.802   Durbin-Watson:                   0.371
Prob(Omnibus):                  0.000   Jarque-Bera (JB):               60.768
Skew:                          -0.417   Prob(JB):                     6.37e-14
Kurtosis:                       4.194   Cond. No.                          inf
==============================================================================

Notes:
[1] R² is computed without centering (uncentered) since the model does not contain a constant.
[2] Standard Errors assume that the covariance matrix of the errors is correctly specified.
[3] The smallest eigenvalue is      0. This might indicate that there are
strong multicollinearity problems or that the design matrix is singular.

/usr/local/lib/python3.8/dist-packages/statsmodels/regression/linear_model.py:1860: RuntimeWarning: divide by zero encountered in double_scalars
  return np.sqrt(eigvals[0]/eigvals[-1])

In [ ]:
# Test out-of-sample performance with the OLS fitted Portfolio
print(reg.predict(Merged_return_test))

[[ 0.03473367]
 [ 0.0765299 ]
 [ 0.08027188]
 [ 0.01143632]
 [ 0.00829026]
 [-0.08629953]
 [-0.10982785]
 [-0.15723223]
 [-0.17109395]
 [-0.21106271]
 [-0.20264958]
 [-0.21796283]
 [-0.24699591]
 [-0.27290292]
 [-0.31580297]
 [-0.29814687]
 [-0.32203626]
 [-0.30889689]
 [-0.31935869]
 [-0.32183525]]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

In [ ]:
# Generating Min-Var Portfolio via Ridge Regression with Training set
from sklearn.linear_model import Ridge
rr = Ridge(alpha=5)
rr.fit(X, y)
w = rr.coef_
print("Ridge Regression Model Coefficients:", w)
print("Ridge Regression Model Intercept", rr.intercept_)

Ridge Regression Model Coefficients: [[ 0.04526235  0.08749822 -0.09839757  0.01941416  0.00239267  0.19124612
   0.01720483  0.06012491 -0.04392463  0.08072361  0.15644182  0.12808902
   0.08665891  0.06669262  0.01117413  0.12665157  0.05623264  0.03181619
   0.0688542   0.        ]]
Ridge Regression Model Intercept [0.00437032]

In [ ]:
# Test out-of-sample performance with the Ridge Regression fitted Portfolio
print(rr.predict(Merged_return_test))

[[ 0.04843385]
 [ 0.09232346]
 [ 0.11330776]
 [ 0.05383357]
 [ 0.06411787]
 [-0.03388253]
 [-0.05072283]
 [-0.09568926]
 [-0.11107959]
 [-0.16041149]
 [-0.16154745]
 [-0.18570296]
 [-0.20285742]
 [-0.22917335]
 [-0.26770829]
 [-0.24762413]
 [-0.27944132]
 [-0.26601093]
 [-0.28639789]
 [-0.27017645]]

/usr/local/lib/python3.8/dist-packages/sklearn/utils/validation.py:1688: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  warnings.warn(

In [ ]:
# Generating Min-Var Portfolio via Lasso Regression with Training set
from sklearn.linear_model import Lasso
lasso = Lasso(alpha=0.1)
lasso.fit(X, y)
print("Lasso Regression Model Coefficients:", lasso.coef_)
print("Lasso Regression Model Intercept:", lasso.intercept_)

Lasso Regression Model Coefficients: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Lasso Regression Model Intercept: [0.08721551]

In [ ]:
# Test out-of-sample performance with the Lasso Regression fitted Portfolio
print(lasso.predict(Merged_return_test))

[0.08721551 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551
 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551
 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551
 0.08721551 0.08721551]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,

In [ ]:
# Generating Min-Var Portfolio via ElasticNet with Training set
from sklearn.linear_model import ElasticNet
regr = ElasticNet(random_state=0)
regr.fit(X, y)
print("Elastic-Net Model Coefficients:", regr.coef_)
print("Elastic-Net Model Intercept:", regr.intercept_)

Elastic-Net Model Coefficients: [0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0. 0.]
Elastic-Net Model Intercept: [0.08721551]

In [ ]:
# Test out-of-sample performance with the Elastic Net fitted Portfolio
print(regr.predict(Merged_return_test))

[0.08721551 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551
 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551
 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551 0.08721551
 0.08721551 0.08721551]

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:1692: FutureWarning: Feature names only support names that are all strings. Got feature names with dtypes: ['tuple']. An error will be raised in 1.2.
  FutureWarning,